* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-dark);
}

html {
  width: 100%;
  background-color: var(--background-color);
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#app #search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

#app #search #name-search {
  background-color: var(--background-color);
  height: 1.7rem;
  font-size: 1rem;
  min-width: 200px;
  width: 50vw;
  border-bottom: 1px solid black;
}

#app #search #type-search {
  background-color: var(--background-color);
  font-size: 1rem;
}

#app #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#app #content #pokemons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app #content #pokemons .poke-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-height: 164px;
  margin: 2px;
  -webkit-box-shadow: -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 2px rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
}

#app #content #pokemons .poke-card a {
  padding: 10px 10px 15px 10px;
}

#app #content #pokemons .poke-card a:hover {
  cursor: pointer;
}

#app #content #pokemons .poke-card .name {
  color: var(--text-light);
}

#app #content #pokemons .poke-card .poke-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.75rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#app #content #pokemons .poke-card .poke-types .poke-label {
  color: var(--text-light);
  border-radius: 1rem;
  padding: 0 3px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 0.5rem;
}

#app #content #pokedex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  text-align: center;
}

#app #content #pokedex h3 {
  margin-top: 10px;
}

#app #content #pokedex #poke-close {
  background-color: var(--background-color);
  font-size: 1rem;
  width: 1.25rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

#app #content #pokedex #poke-image {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#app #content #pokedex #poke-name {
  text-transform: capitalize;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px dashed var(--text-dark);
}

#app #content #pokedex #poke-dimensions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 0;
  border-bottom: 1px dashed var(--text-dark);
}

#app #content #pokedex #poke-stats {
  padding: 10px 0;
  border-bottom: 1px dashed var(--text-dark);
}

#app #content #pokedex #poke-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5%;
}

#app #content #pokedex #poke-stats .stat .stat-name {
  text-transform: uppercase;
}

#app #content #pokedex #poke-abilities {
  padding: 10px 0;
  border-bottom: 1px dashed var(--text-dark);
}

#app #content #pokedex #poke-abilities p {
  text-transform: capitalize;
}

@media (max-width: 600px) {
  #content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  #content #pokedex {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */